$bg-color-primary: #162955;
$bg-color-box: #eee;
$bg-color-btn: #4F628E;
$color: #061539;
$font: Verdana, Arial, sans-serif;
$font-size-primary: 16px;
$padding-btn: 0.6em 1em;

@mixin make-btn ($padding-btn, $bg-color-btn) {
	padding: $padding-btn;
	background-color: $bg-color-btn;
  border-radius: 0.3em;
  font-size: $font-size-primary - 1;
  border: none;
  color: #eee;
	&:hover {
		background-color: darken($bg-color-btn, 8%);
	}
	&:active {
		background-color: darken($bg-color-btn, 25%);
	}
}

@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flex-direction($value: row) {
	@if $value == row-reverse {
		-webkit-box-direction: reverse;
		-webkit-box-orient: horizontal;
	} @else if $value == column {
		-webkit-box-direction: normal;
		-webkit-box-orient: vertical;
	} @else if $value == column-reverse {
		-webkit-box-direction: reverse;
		-webkit-box-orient: vertical;
	} @else {
		-webkit-box-direction: normal;
		-webkit-box-orient: horizontal;
	}
	-webkit-flex-direction: $value;
	-moz-flex-direction: $value;
	-ms-flex-direction: $value;
	flex-direction: $value;
}

@mixin justify-content($value: flex-start) {
	@if $value == flex-start {
		-webkit-box-pack: start;
		-ms-flex-pack: start;
	} @else if $value == flex-end {
		-webkit-box-pack: end;
		-ms-flex-pack: end;
	} @else if $value == space-between {
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
	} @else if $value == space-around {
		-ms-flex-pack: distribute;
	} @else {
		-webkit-box-pack: $value;
		-ms-flex-pack: $value;
	}
	-webkit-justify-content: $value;
	-moz-justify-content: $value;
	justify-content: $value;
}

@mixin align-items($value: stretch) {
	@if $value == flex-start {
		-webkit-box-align: start;
		-ms-flex-align: start;
	} @else if $value == flex-end {
		-webkit-box-align: end;
		-ms-flex-align: end;
	} @else {
		-webkit-box-align: $value;
		-ms-flex-align: $value;
	}
	-webkit-align-items: $value;
	-moz-align-items: $value;
	align-items: $value;
}

@mixin align-self($value: auto) {
	-webkit-align-self: $value;
	-moz-align-self: $value;
	@if $value == flex-start {
		-ms-flex-item-align: start;
	} @else if $value == flex-end {
		-ms-flex-item-align: end;
	} @else {
		-ms-flex-item-align: $value;
	}
	align-self: $value;
}

@mixin flex-basis($value: auto) {
	-webkit-flex-basis: $value;
	-moz-flex-basis: $value;
	-ms-flex-preferred-size: $value;
	flex-basis: $value;
}

@mixin background($bg-color-btn, $bg-color-box) {
  background: -moz-linear-gradient(top,$bg-color-btn 10%,$bg-color-box 90%);
  background: -ms-linear-gradient(top,$bg-color-btn 10%,$bg-color-box 90%);
  background: -o-linear-gradient(top,$bg-color-btn 10%,$bg-color-box 90%);
  background-image: -webkit-linear-gradient(top,$bg-color-btn 10%,$bg-color-box 90%);
}

body {
  @include flexbox();
  @include flex-direction(column);
  @include justify-content(space-between);
  max-width: 100%;
  padding: 0;
  margin: 0;
  font-family: $font;
  font-size: $font-size-primary;
  background-color: $bg-color-primary;
  color: $color;
  .title {
    @include background($bg-color-btn, #fff);
    padding: 0 0 1em;
    font-size: $font-size-primary + 4;
    text-align: center;
    h1 {
      line-height: 2;
      font-size: 2.4em;
      text-shadow: 0.018em 0.018em 0.3em #fff;
      padding: 0.5em 0 0;
      margin: 0 auto;
      max-width: 90%;
    }
  }
  .main {
    @include flexbox();
    @include justify-content(center);
    margin: 1em 0 4em;
    .quote-container {
      @include flexbox();
      @include flex-direction(column);
      @include justify-content(space-between);
      min-height: 11em;
      border-radius: 0.3em;
      margin: 2em 0;
      padding: 2em;
      background-color: $bg-color-box;
      opacity: 0.9;
      background-image: linear-gradient($bg-color-btn .1em, transparent .1em);
      background-size: 100% 1.8em;
      width: 50%;
      .quote-text {
        margin: 1.8em 0;
        i {
          margin: 0 0.5em;
        }
        #text {
          margin-top: 0;
          font-size: $font-size-primary + 6;
          font-weight: 700;
          line-height: 1.3;
        }
      }
      .quote-author {
        @include flexbox();
        @include flex-direction(column);
        margin: 2em 0;
        #author {
          @include align-self(flex-end);
          font-size: $font-size-primary + 2;
          line-height: 1.3;
        }
      }
      .buttons {
        @include align-self(flex-end);
        button {
          @include make-btn($padding-btn, $bg-color-btn);
          outline: none;
					&:hover {
						outline: none;
					}
        }
      }
    }
  }
  footer {
    @include background($bg-color-btn, #fff);
    position: fixed;
    display: block;
    width: 100%;
    bottom: 0;
    p {
      padding: 0 2em;
    }
  }
}
